:root {
  --color-container-background: rgb(232, 138, 234);
  --color-count-sky: rgb(10, 235, 198);
  --color-total-lightGreen: rgb(10, 235, 10);
  --color-text: rgb(255, 255, 255);
  --color-correct-answer: rgb(0, 128, 0);
  --color-green-timer: rgb(255, 0, 106);
  --color-uncorrect-answer: rgb(255, 0, 0);
  --color-show-correct-answer: rgb(128, 128, 128);
  --color-ans-button: rgba(121, 79, 159, 0.251);
  --color-radio-violet: rgb(204, 33, 210);
  --color-radio-green: rgb(11, 232, 52);
  --color-radio-dark: rgb(79, 13, 138);
  --color-border-timer: rgba(112, 91, 91, 0.29);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--color-text);
}
p {
  color: var(--color-text);
}
span {
  color: var(--color-text);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.question-timer {
  padding-top: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text);
  font-size: 80px;
  opacity: 0;
  pointer-events: none;
}

.start-menu {
  position: absolute;
  border-radius: 30px 45px 100px 30px;
  box-shadow: 11px 15px 24px 1px rgba(45, 9, 41, 0.54);
  width: 600px;
  min-height: 445px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  z-index: 5;
  transition: 525ms;
  padding: 15px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.start-menu__text {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-family: sans-serif;
}
.start-menu__text h1 {
  font-size: 23px;
  margin-bottom: 15px;
}
.start-menu__buttons {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.start-menu__curr-of-total {
  color: var(--color-text);
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.end-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, -50%);
  border-radius: 30px 45px 100px 30px;
  box-shadow: 11px 15px 24px 1px rgba(45, 9, 41, 0.54);
  width: 450px;
  height: 125px;
  padding: 15px 10px;
  transition: 575ms;
}
.end-menu h2 {
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.end-menu p {
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.end-menu__count {
  color: var(--color-count-sky);
}
.end-menu__total {
  color: var(--color-total-lightGreen);
}

.note-box {
  position: absolute;
  top: 80px;
  left: 70%;
  transform: translateX(-50%);
  box-shadow: 11px 15px 24px 1px rgba(45, 9, 41, 0.54);
  border-radius: 20px;
  width: 150px;
  height: 95px;
  padding: 10px;
  transition: 175ms;
  opacity: 0;
}
.note-box h3 {
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.note-box p {
  font-size: 12px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}

.start-button {
  position: absolute;
  border: none;
  padding: 40px 50px;
  border-radius: 15px 60px 20px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 17px 2px 42px -3px rgba(47, 14, 71, 0.87);
  cursor: pointer;
  transition: 420ms;
}
button span {
  font-size: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.continue-button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px 5px 15px 15px;
  cursor: pointer;
  display: none;
}
.continue-button span {
  font-size: 20px;
}
.concede-button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px 5px 15px 15px;
  cursor: pointer;
}
.concede-button span {
  font-size: 20px;
}

.exit-button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px 5px 15px 15px;
  cursor: pointer;
}
.exit-button span {
  font-size: 20px;
}
.btn-answer {
  background-color: var(--color-ans-button);
  color: var(--color-text);
  width: 100%;
  padding: 15px 7px;
  margin-bottom: 13px;
  cursor: pointer;
}
.btn-answer:last-child {
  border-bottom-right-radius: 50px;
}

.ok-button {
  border: none;
  border-radius: 5px;
  color: var(--color-text);
  font-family: sans-serif;
  cursor: pointer;
}

.answers-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.theme-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  right: 5px;
  top: 5px;
  z-index: 10;
}
.theme-container p {
  font-size: 25px;
  margin-bottom: 8px;
}
.theme-container__inputs-box {
  font-size: 20px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 2px solid var(--color-radio-dark);
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
}
input:checked {
  border: 6px solid var(--color-radio-dark);
}
#violet:hover {
  border: 12px solid var(--color-radio-violet);
  font-size: 30px;
}
#green:hover {
  border: 12px solid var(--color-radio-green);
}
#dark:hover {
  border: 12px solid var(--color-radio-dark);
}

.show-timer {
  opacity: 1;
}
.show-red-timer {
  color: var(--color-uncorrect-answer);
}
.show-green-timer {
  color: var(--color-green-timer);
}

.start-button_deactivate {
  opacity: 0;
  pointer-events: none;
}
.start-menu_show-menu {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.end-menu_show-menu {
  transition: all 570ms;
  transform: translate(-50%, -50%);
}
.note-box_show {
  opacity: 1;
}
.continue-button_show {
  display: inline;
}
.green-correct-answer {
  background-color: var(--color-correct-answer);
  pointer-events: none;
}
.red-uncorrect-answer {
  background-color: var(--color-uncorrect-answer);
}
.disable-button {
  pointer-events: none;
}
.disable-button_correct {
  background-color: var(--color-show-correct-answer);
  pointer-events: none;
}

@media (max-width: 780px) {
  .start-menu__buttons {
    width: 83%;
  }
  .start-menu {
    border-radius: 30px 45px 45px 30px;
  }
  .btn-answer {
    text-align: justify;
  }
  .btn-answer:last-child {
    border-bottom-right-radius: 25px;
  }
}

@media (max-width: 700px) {
  .start-menu {
    width: 390px;
  }
  .start-menu__buttons {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .start-menu__buttons button {
    width: 85%;
  }
  .theme-container__inputs-box {
    flex-direction: column;
    align-items: end;
  }
}

@media (max-width: 550px) {
  .question-timer {
    padding-top: 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 0;
    left: 50px;
    border: 2.5px solid var(--color-border-timer);
    box-shadow: 4px 4px 20px 6px rgba(200, 245, 247, 0.2);
    border-bottom-right-radius: 35px;
  }
  .start-menu {
    width: 265px;
    border-radius: 30px 45px 30px 30px;
  }
  .btn-answer {
    padding: 8px 5px;
    text-align: justify;
  }
  .btn-answer:last-child {
    border-radius: 0;
  }
  .end-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 89.5%;
  }
  .end-menu h2 {
    font-size: 19px;
  }
  .end-menu p {
    font-size: 15px;
  }
  .theme-container {
    align-items: flex-start;
    top: auto;
    right: auto;
    left: 5px;
    bottom: 5px;
  }
  .theme-container__inputs-box {
    flex-direction: row-reverse;
  }
}
